.ubimed-citi  
  &__container
    margin-top: 30px
    
    background: white
    box-shadow: $boxShadowColor
    border-radius: 12px

    @include respondTo($minWidth, 768px)
      display: flex
      box-shadow: none

  &__textContainer
    padding: 14px

    @include respondTo($minWidth, 360px)
      font-size: 16px

    @include respondTo($minWidth, 768px)
      padding-bottom: 16px
      width: 100%

      box-shadow: $boxShadowColor
      border-top-right-radius: 15px
      border-bottom-right-radius: 15px

    @include respondTo($minWidth, 800px)
      padding-left: 16px

  &__textTitle
    color: $colorPrimary

    font-size: 20px
    font-family: $familyPrimary

    @include respondTo($minWidth, 360px)
      font-size: 22px

    @include respondTo($minWidth, 1024px)
      font-size: 26px
  
  &__text
    color: rgba(0, 0, 0, .5)

    font-size: 14px
    margin-bottom: 10px

    @include respondTo($minWidth, 360px)
      font-size: 16px
    
    @include respondTo($minWidth, 600px)
      max-width: 600px
    
    @include respondTo($minWidth, 900px)
      max-width: none
    
    @include respondTo($minWidth, 1024px)
      font-size: 18px


  &__linkContainer
    margin-top: 20px
    margin-bottom: 10px

    @include respondTo($minWidth, 768px)
      margin-top: 15px

  &__imgContainer
    width: 250px
    margin: 0
    padding: 0

    @include respondTo($minWidth, 1024px)
      width: 280px
    
  &__img
    height: 100%
    width: 100%

    box-shadow: $boxShadowColor
    border-top-left-radius: 15px
    border-bottom-left-radius: 15px

    object-fit: cover