.ubimed-pacient
  &__container
    margin-top: 30px
    padding: 14px
    
    background: white
    box-shadow: $boxShadowColor
    border-radius: 12px

    @include respondTo($minWidth, 768px)
      display: flex
      justify-content: space-between
      padding: 0

      box-shadow: none

  &__textContainer
    @include respondTo($minWidth, 768px)
      padding: 24px
      width: 100%
      
      box-shadow: $boxShadowColor
      border-top-left-radius: 15px
      border-bottom-left-radius: 15px 

    @include respondTo($minWidth, 1024px)
      padding-top: 30px

  &__title
    color: $colorPrimary

    font-size: 20px

    @include respondTo($minWidth, 1024px)
      font-size: 26px

  &__description
    color: $letterColor

    font-size: 16px

    @include respondTo($minWidth, 768px)
      max-width: none
      padding-bottom: 5px
    
    @include respondTo($minWidth, 1024px)
      padding-top: 15px
      padding-bottom: 15px

      font-size: 18px

  &__imgContainer
    margin: 0
    padding: 0
    width: 250px

    @include respondTo($minWidth, 1024px)
      width: 280px

  &__img
    width: 100%
    box-shadow: $boxShadowColor
    border-top-right-radius: 15px
    border-bottom-right-radius: 15px
    