.ubimed-step
  &__mainContainer
    margin-top: 30px
    background: white
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2)
    border-radius: 12px

    padding: 5px 10px

    @include respondTo($minWidth, 360px)
      padding-left: 16px
      padding-right: 16px
    
    @include respondTo($minWidth, 1023px)
      padding: 0
      margin-top: 21px
      box-shadow: none

    
  &__title
    margin-top: 9px
    margin-bottom: 15px

    color: $letterColor

    font-size: 18px
    font-weight: bold

    @include respondTo($minWidth, 1024px)
      margin-top: 40px
      margin-bottom: 40px

      font-size: 20px

  &__container
    @include respondTo($minWidth, 1024px)
      display: flex
      justify-content: space-between
  
  &__item
    display: flex
    margin-bottom: 31px

    @include respondTo($minWidth, 1024px)
      display: block

  &__body
    @include respondTo($minWidth, 1024px)
      max-width: 255px
    
  &__imgContainer
    margin-right: 16px
    flex-shrink: 0

  &__img
    height: 70px
    width: 70px
    border-radius: 50%
    object-fit: cover

    @include respondTo($minWidth, 360px)
      height: 75px
      width: 75px

    @include respondTo($minWidth, 1024px)
      height: 100px
      width: 100px

  &__itemTitle
    color: $letterColor

    font-weight: 600
    font-size: 16px

    @include respondTo($minWidth, 700px)
      margin-top: 10px
    
    @include respondTo($minWidth, 1024px)
      margin-top: 0
      margin-bottom: 10px
    
      font-size: 18px

  &__description
    color: $letterColor
    
    font-size: 14px
    line-height: 1.5


