.ubimed-telemedicine
  &__container
    margin-top: 20px
    
    background: white
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2)
    border-radius: 12px

    @include respondTo($minWidth, 1024px)
      display: flex
      justify-content: space-between

      box-shadow: none
    
  &__textContainer
    padding: 14px

    @include respondTo($minWidth, 1024px)
      padding-left: 0
      padding-right: 0
      margin-right: 10px
      max-width: 600px

  &__textTitle
    margin: 0
    padding-bottom: 10px

    color: $colorPrimary

    font-size: 20px
    font-family: $familyPrimary

    @include respondTo($minWidth, 1024px)
      font-size: 26px
  
  &__text
    color: rgba(0, 0, 0, .5)

    font-size: 14px

    @include respondTo($minWidth, 360px)
      font-size: 16px
    
    @include respondTo($minWidth, 900px)
      font-size: 18px

  &__extraText
    padding-top: 10px
    padding-bottom: 10px

    color: $letterColor
    
    font-size: 14px
    
    @include respondTo($minWidth, 360px)
      font-size: 16px

    @include respondTo($minWidth, 900px)
      font-size: 18px
    
  &__imgContainer
    margin: 0
    padding: 0

    width: auto

    @include respondTo($minWidth, 1024px)
      margin-top: 50px
      width: 550px

  &__img
    width: 100%
    border-radius: 8px

    



    
