section.ubimed-benefit
  .container
    .row
      .col-md-7.col-sm-12.d-flex.align-items-start.justify-content-center.flex-column
        .ubimed-benefit__title.py-2.py-sm-4.h1
          | Tus Beneficios, como aliado
        ul
          li.ubimed-benefit__item
            | Disminuci贸n de costos de prestaci贸n
          li.ubimed-benefit__item
            | Mejora de indicadores de salud y satisfacci贸n 
          li.ubimed-benefit__item
            | Empoderamiento y educaci贸n
          li.ubimed-benefit__item
            | Oportunidad + Accesibilidad
      .col-md-5.col-sm-12.d-flex.align-items-end.justify-content-center
        figure.ubimed-benefit__imgContainer
          img.ubimed-benefit__img(src='./images/bg3.png' alt='Ubimed Logo Beneficio')