section.ubimed-citi
  .ubimed__container
    .ubimed-citi__container
      figure.ubimed-citi__imgContainer.d-none.d-md-block
        img.ubimed-citi__img(src='./images/citi.jpg' alt='Logo Telemedicina')
      .ubimed-citi__textContainer
        h2.ubimed-citi__textTitle
          | Consultoría y asesoría
        p.ubimed-citi__text
          | Más de 10 años de experiencia en el diseño y la implementación de modelos diferenciales de
          | atención en salud basadas en Tic en Colombia y Latinoamérica, nos dan la confianza para poner a
          | tu disposición nuestra tecnología para la consultoría y asesoría en el levantamiento y desarrollo
          | de modelos a la medida teniendo en cuenta la necesidad del sector y de nuestros clientes
        .ubimed-citi__linkContainer
          a.button.is-primary.is-circle
            | Contáctanos
      