//-
  section.ubimed-hero
    .ubimed-hero__container.d-lg-flex.align-items-center
      .container
        h1.ubimed-hero__title.pt-3.px-3.pt-sm-5
          | Bienvenido a <span class='ubimed-hero__name'>Ubimed</span>, servicio de teleconsulta
        p.ubimed-hero__message.px-3.pt-1.pt-sm-4
          | Nos especializamos en el diseño e implementación de modelos de atención en salud basados en eHealth, teniendo como prioridad siempre la calidad de la atención y la satisfacción de nuestros clientes.
        span.ubimed-hero__slogan.d-block.px-3.pt-2.pb-sm-5.pt-sm-5
          | #SaludYBienestarDondeEstes!

section.ubimed-hero
  .ubimed-hero__container
    .ubimed__container
      h1.ubimed-hero__title
        | Servicio de Teleconsulta
      p.ubimed-hero__message
        | Somos una IPS que se especializa en la prestación, diseño e implementación de modelos de
        | atención en salud basados en eHealth, teniendo como prioridad siempre la calidad de la atención
        | y la satisfacción de nuestros clientes. 
      span.ubimed-hero__slogan
        | #Salud y bienestar donde quiera que estés!