section.ubimed-hero
  .ubimed-hero__container
    .ubimed__container
      h1.ubimed-hero__title
        | Somos una IPS
      p.ubimed-hero__message
        | Especializada en la prestación, diseño e implementación de modelos de
        | atención en salud basados en eHealth, teniendo como prioridad siempre la calidad de la atención
        | y la satisfacción de nuestros clientes. 
      span.ubimed-hero__slogan
        | #Salud y bienestar donde quiera que estés!