section.ubimed-hero
  .ubimed-hero__container
    .ubimed__container
      p.ubimed-hero__message
        | Somos una IPS Especializada en la prestación, diseño e implementación de modelos de
        | atención en salud basados en salud, teniendo como prioridad siempre la calidad de la atención
        | y la satisfacción de nuestros clientes. 
      span.ubimed-hero__slogan
        | #SaludYBienestarDondeQuieraQueEstés