section.ubimed-monitor
  .ubimed__container
    .ubimed-monitor__container
      .ubimed-monitor__textContainer
        h2.ubimed-monitor__textTitle
          | Telemonitoreo
        p.ubimed-monitor__text
          | Con la tecnología Ubimed pacientes y proveedores de servicios de salud ahora podrán obtener la
          | mejor experiencia en la atención domiciliaria a través de la Monitorización permanente de sus
          | variables clínicas
  
        .ubimed-monitor__linkContainer
          a.button.is-circle.ubimed-monitor__button(href='#')
            | Más detalles
      figure.ubimed-monitor__imgContainer.d-none.d-md-block
        img.ubimed-monitor__img(src='./images/telemonitor.jpg' alt='Logo Telemedicina')
      