section.ubimed-services
  .container
    h2.ubimed-services__title.text-center.py-2.py-sm-4
      | Servicios
    .ubimed-services__container
      .row
        article.services__itemContainer.bg1.text-center.col-lg
          figure.services__imgContainer.pt-4.pt-sm-2
            img.services__img(src='./images/cam.png' alt='Ubimed Logo Webcam')
          h3.services__itemTitle.h4
            | Telemedicina
          p.services__itemContent
            | El Servicio de videoconsulta Ubimed, es la mejor opción para estar en comunicación con pacientes y profesionales de la salud sin salir de casa.
        article.services__itemContainer.bg2.text-center.col-lg
          figure.services__imgContainer.pt-4.pt-sm-2
            img.services__img(src='./images/videoconference.png' alt='Ubimed Logo Monitoreo')
          h3.services__itemTitle.h4
            | Telemonitoreo
          p.services__itemContent
            | Con la tecnología Ubimed pacientes y proveedores de servicios de salud ahora podrán obtener la mejor experiencia en la atención domiciliaria a través de la Monitorización permanente de sus variables clínicas.
        article.services__itemContainer.bg3.text-center.col-lg
          figure.services__imgContainer.pt-4.pt-sm-2
            img.services__img(src='./images/track.png' alt='Ubimed Logo Consultoria')
          h3.services__itemTitle.h4
            | Consultoría
          p.services__itemContent
            | Pacientes y proveedores de servicios de salud ahora podrán obtener la mejor experiencia en la atención domiciliaria a través de la monitorización permanente de sus variables clínicas.
      .row
        article.services__itemContainer.bg4.text-center.col-lg
          figure.services__imgContainer.pt-4.pt-sm-2
            img.services__img(src='./images/cam.png' alt='Ubimed Logo Webcam')
          h3.services__itemTitle.h4
            | Videoconsulta
          p.services__itemContent
            | El Servicio de videoconsulta Ubimed, es la mejor opción para estar en comunicación con pacientes y profesionales de la salud sin salir de casa.
        article.services__itemContainer.bg5.text-center.col-lg
          figure.services__imgContainer.pt-4.pt-sm-2
            img.services__img(src='./images/videoconference.png' alt='Ubimed Logo Monitoreo')
          h3.services__itemTitle.h4
            | Asesoría Remota
          p.services__itemContent
            | Nuestra experiencia esta a su disposición para el diseño, implementación y puesta en marcha de modelos basados en eHealth a la medida de nuestros clientes.