section.ubimed-services
  .ubimed__container
    .ubimed-service__container
      .ubimed-service__textContainer
        h2.ubimed-service__title
          | Nuestros pacientes
        p.ubimed-service__description
          | Con Ubimed, podrás registrarte y obtener los siguientes beneficios
        .ubidem-service__btnContainer
          a.button.is-circle.is-primary(href='#')
            | Ver detalles

      figure.ubimed-service__imgContainer.d-none.d-md-block
        img.ubimed-service__img(src='https://image.freepik.com/vector-gratis/terapeuta-linea-hablando-traves-telefono-movil_23-2148541243.jpg')
    