section.ubimed-step
  .ubimed__container
    .ubimed-step__mainContainer
      .ubimed-step__title
        | ¿Cómo funciona?
      .ubimed-step__container
        article.ubimed-step__item
          figure.ubimed-step__imgContainer
            img.ubimed-step__img(src='./images/tele.jpg')
          .ubimed-step__body
            .ubimed-step__itemTitle
              | 1. Elige un profesional
            .ubimed-step__description
              | Selecciona uno de los múltiples profesionales de salud que hay en la plataforma
        article.ubimed-step__item
          figure.ubimed-step__imgContainer
            img.ubimed-step__img(src='./images/calendar.jpg')
          .ubimed-step__body
            .ubimed-step__itemTitle
              | 2. Agenda cita
            .ubimed-step__description
              | Elige la hora y fecha más apropiada para ti, evitando barreras administrativas
        article.ubimed-step__item
          figure.ubimed-step__imgContainer
            img.ubimed-step__img(src='./images/notifications.jpg')
          .ubimed-step__body
            .ubimed-step__itemTitle
              | 3. Paga
            .ubimed-step__description
              | Realiza los pagos de tus consultas directamente a tu profesional o institución tratante           
        article.ubimed-step__item
          figure.ubimed-step__imgContainer
            img.ubimed-step__img(src='./images/money.png')
          .ubimed-step__body
            .ubimed-step__itemTitle
              | 4. Obtén videollamada
            .ubimed-step__description
              | En videollamada podras recibir, imágenes, documentos y videos que serán parte de tu historia clínica 
