section.ubimed-telemedicine
  .ubimed__container
    .ubimed-telemedicine__container
      .ubimed-telemedicine__textContainer
        h2.ubimed-telemedicine__textTitle
          | Telemedicina
        p.ubimed-telemedicine__text
          | Ubimed, es la mejor opción para estar en comunicación con pacientes y profesionales de la salud
          | sin salir de casa, manteniendo la rigurosidad del acto médico, ofertando siempre un servicio con
          | calidad, oportunidad y accesibilidad.
          .ubimed-telemedicine__extraText
            | Ubimed Ips presta los servicios en modalidad de telemedicina interactiva a través de la
            | Videoconsulta en tiempo real y no interactiva a través de la teleconsulta, chat médico en tiempo
            | diferido.
          .ubimed-telemedicine__extraText
            | Tanto pacientes como profesionales de la salud dispondrán ahora de una solución eHealth
            | diseñada con estándares nacionales e internacionales HIPAA y Fhir que garantizan la privacidad,
            | confidencialidad, seguridad e interoperabilidad de la información clínica permitiendo ofertar y
            | prestar nuestros servicios con los más altos estándares de calidad.

          .ubimed-telemedicine__link#telemedice-buttonShowMore.d-none.d-lg-block
            | Ver más
      figure.ubimed-telemedicine__imgContainer.d-none.d-lg-block
        img.ubimed-telemedicine__img(src='./images/telecall.jpg' alt='Logo Telemedicina')
      