section.ubimed-telemedicine
  .ubimed__container
    .ubimed-telemedicine__container
      .ubimed-telemedicine__textContainer
        h2.ubimed-telemedicine__textTitle
          | Telemedicina
        p.ubimed-telemedicine__text
          | Ubimed, es la mejor opción para estar en comunicación con pacientes y profesionales de la salud
          | sin salir de casa, manteniendo la rigurosidad del acto médico, ofertando siempre un servicio con
          | calidad, oportunidad y accesibilidad.
          br
          br
          | Ubimed Ips presta los servicios en modalidad de telemedicina interactiva a través de la
          | Videoconsulta en tiempo real y no interactiva a través de la teleconsulta, chat médico en tiempo
          | diferido.
          br
          br
          | Tanto pacientes como profesionales de la salud dispondrán ahora de una solución eHealth
          | diseñada con estándares nacionales e internacionales HIPPA y Fhir que garantizan la privacidad,
          | confidencialidad, seguridad e interoperabilidad de la información clínica permitiendo ofertar y
          | prestar nuestros servicios con los más altos estándares de calidad.
      figure.ubimed-telemedicine__imgContainer.d-none.d-xl-block
        img.ubimed-telemedicine__img(src='./images/telecall.jpg' alt='Logo Telemedicina')
      figure.ubimed-telemedicine__imgContainer.d-xl-none
        img.ubimed-telemedicine__img(src='./images/telemedicine.jpg' alt='Logo Telemedicina')
      