body
  margin: 0
  padding: 0
  font-family: $familyPrimary !important

.bg1
  background-color: #54DA9F
  color: white

.bg2
  background-color: #55DAB2
  color: white

.bg3
  background-color: #54BEDA
  color: white

.bg4
  background-color: #55C8DA
  color: white

.bg5
  background-color: #558FDA
  color: white