/** Fonts */
$familyPrimary: 'Open Sans', sans-serif

/** Color */
$colorPrimary: #00C4A7
$btnPrimaryColor: $colorPrimary
$letterColor: rgba(0, 0, 0, .5)

/** Media Type */
$maxWidth: max-width
$minWidth: min-width