.button
  height: auto !important
  padding: 10px 20px !important

  font-size: 16px !important
  font-family: $familyPrimary !important
  line-height: normal

  cursor: pointer

  &.is-primary
    border: 1px solid $btnPrimaryColor
    border-radius: 3px
    
    background-color: $btnPrimaryColor
    color: white

    &:hover
      background-color: $btnPrimaryColor
      color: white
      text-decoration: none

  &.is-outlined
    border: solid 1px $btnPrimaryColor !important
    border-radius: 3px
    color: $btnPrimaryColor

    &:hover
      background-color: transparent !important
      color: $btnPrimaryColor

      text-decoration: none
  
  &.is-circle
    padding: 5px 20px !important
    border-radius: 30px
    
