- var baseUrl = '/var/www/ubimed.com.co/html/build/'

doctype html
html(lang="es")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Ubimed: Telemedicina contacto
  body    
    include includes/components/header.pug
    include includes/components/contact/form.pug
    include includes/components/footer.pug

    script(src='/node_modules/jquery/dist/jquery.min.js')
    script(src='/node_modules/bootstrap/dist/js/bootstrap.min.js')
    script
      include scripts/utils/footer.js

