doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Document
  body
    include includes/components/header.pug
    include includes/components/home/hero.pug
    include includes/components/home/services.pug
    include includes/components/home/products.pug
    include includes/components/home/benefits.pug

    script(src='node_modules/jquery/dist/jquery.min.js')
    script(src='node_modules/bootstrap/dist/js/bootstrap.min.js')
