doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Document
  body
    include includes/components/header.pug
    include includes/components/home/hero.pug
    include includes/components/home/telemedicine.pug
    include includes/components/home/step.pug
    include includes/components/home/pacientCard.pug
    include includes/components/home/monitor.pug
    include includes/components/home/citi.pug
    include includes/components/footer.pug


    script(src='node_modules/jquery/dist/jquery.min.js')
    script(src='node_modules/bootstrap/dist/js/bootstrap.min.js')
    script
      include scripts/utils/home.js
