section.ubimed-benefit
  .container
    .ubimed-benefit__container
      h1.ubimed-benefit__title
        | Obtén los siguiente beneficios

      .ubimet-benefit__infoContainer
        .ubimed-benefit__tabContainer
          .ubimet-benefit__tabTitle
            | Telemedicina interactiva
          .ubimet-benefit__tabTitle
            | Telemedicina no interactiva
        .ubimed-benefit__body
          ul.ubimed-benefit__list
            li.ubimed-benefit__item
              .ubimed-benefit__itemInfo
                | Buscar y/o elegir un profesional de la salud
            li.ubimed-benefit__item
              .ubimed-benefit__itemInfo
                | Comunicarte con tu médico a través de videoconsulta en tiempo real
            li.ubimed-benefit__item
              .ubimed-benefit__itemInfo
                | Agendarte en la fecha y hora más apropiadas para ti
            li.ubimed-benefit__item
              .ubimed-benefit__itemInfo
                | Gestionar tu mismo la historia clínica
            li.ubimed-benefit__item
              .ubimed-benefit__itemInfo
                | Puedes enviar y recibir fotos, imágenes, documentos y videos, serán parte integral de tu historia clínica
            li.ubimed-benefit__item
              .ubimed-benefit__itemInfo
                | Programar de forma automática las alertas para que no olvides tomar tus medicamentos
            li.ubimed-benefit__item
              .ubimed-benefit__itemInfo
                | Realizar los pagos de tus consultas ó cuotas moderadoras directamente a tu profesional o
                | institución tratante