footer.ubimed-footer
  .ubimed__container.container
    .ubimed-footer__container
      figure.ubimed-footer__logoContainer
        img.ubimed-footer__logoImg(src='./images/logoBlanco.png', alt='Ubimed Logo')  
      .row.pt-lg-4.pb-lg-4.flex-column.flex-md-row
          .col-sm.col-md-12.col-lg-4
            .ubimed-footer__contactContainer
              .d-none.d-lg-block.ubimed-footer__title
                | Contáctanos
              .ubimed-footer__linkContainer
                i.ubm-icon-phone-24px.ubimed-footer__icon.ubimed-footer__phoneIcon
                a.ubimed-footer__link(href='tel:+573128772788')
                  | +57 3128772788
              .ubimed-footer__linkContainer
                i.ubm-icon-mail_outline-24px-1.ubimed-footer__icon.ubimed-footer__mailIcon
                a.ubimed-footer__link(href='mailto:contacto@ubimed.com.co')
                  | contacto@ubimed.com.co
          .col-sm.col-md-12.col-lg-4.mt-md-2.mt-lg-0
            .d-none.d-lg-block.ubimed-footer__title
                | Enlaces
            .ubimed-footer__entriesContainer
              .ubimed-footer__entryItem#ubimed-footer__serviceBtnShowMore
                .ubimed-footer__entryHeader.d-flex
                  .ubimed-footer__entryTitle
                      | Servicios
                  .ubimed-footer__entryMenuArrow
                    i.ubm-icon-expand_more-24px.ubimed-footer__linkIcon#ubimed-footer__serviceIcon
                .ubimed-footer__entryContent
                  ul.ubimed-footer__menu.d-none
                    a.ubimed-footer__menuItem(href='#telemedicina')
                      | Telemedicina
                    a.ubimed-footer__menuItem(href='#consultoria')
                      | Consultoría
              .ubimed-footer__entryItem
                .ubimed-footer__entryHeader.d-flex
                  .ubimed-footer__entryTitle
                    | Otros
                  .ubimed-footer__entryMenuArrow
                    i.ubimed-footer__linkIcon.ubm-icon-expand_more-24px
                .ubimed-footer__entryContent
                    ul.ubimed-footer__menu.d-none
                      a.ubimed-footer__menuItem(href='#')
                        | Soporte
                      a.ubimed-footer__menuItem(href='reclamo')
                        | Radicar PQRS
          .col-sm.col-md-12.col-lg-4
            .d-none.d-lg-block.ubimed-footer__title
              | Siguenos en
            .ubimed-footer__socialMediaIconsContainer
              a(href='#').ubimed-footer__socialMediaLink
                .ubimed-footer__socialMediaCircleContainer
                  figure.ubimed-footer__socialMediaContainer
                    img.ubimed-footer__socialMediaImg(src='./images/facebook.png', alt='Ubimed Logo Facebook')
              a(href='#').ubimed-footer__socialMediaLink
                .ubimed-footer__socialMediaCircleContainer
                  figure.ubimed-footer__socialMediaContainer
                    img.ubimed-footer__socialMediaImg(src='./images/instagram.png', alt='Ubimed Logo Instagram')
              a(href='https://wa.link/bui6f9', target='_blank').ubimed-footer__socialMediaLink
                .ubimed-footer__socialMediaCircleContainer
                  figure.ubimed-footer__socialMediaContainer
                    img.ubimed-footer__socialMediaImg(src='./images/whatsapp.png', alt='Ubimed Logo WhatsApp') 
          
      .ubimed-footer__secondContainer
        .ubimed-footer__message
          | © 2020. Ubimed.com.co Todos los derechos reservados
        
