section.ubimed-form-support
  .ubimed__bar
  .container
    .ubimed-form-support__container
      h2.ubimed-form-support__title
        | Soporte
      form
        .form-group
          label(for='email')
            | Correo electr贸nico
          input.form-control(type='email', id='email'  placeholder='Correo electr贸nico')  
        .form-group
          label(for='name')
            | Nombre
          input.form-control(type='text', id='name' placeholder='Nombre')
        .form-group
          label(for='lastname')
            | Apellido
          input.form-control(type='text', id='lastname' placeholder='Apellido')
        .form-group
          label(for='address')
            | Direcci贸n
          input.form-control(type='text', id='lastname' placeholder='Direcci贸n')
        .form-group
          label(for='support')
            | Reclamo o queja
          textarea.form-control(name='support',  rows='3')
        .form-group
          button.button.is-primary.is-circle.is-medium(type='submit')
            | Enviar
